<!DOCTYPE html>
<html>
  <head>
    <title>Index</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>

    </style>
  </head>
  <body>
    <div style = 'width:90%;height:90%;align-text:center;'>
         <div id='note-list'></div>

         <div><span id ='msg'></span></div>
    </div>
    <div></div>
    <script src='/javascripts/jquery-v2.2.4.js'></script>
    <script src='/javascripts/utils/common.js'></script>
    <script src='/javascripts/utils/htmlEle.js'></script>
    <script>
        let hr_line = '<hr/>';

        let bookId  = '';

        $(function(){
            initData();
        });


        function initData(){
            ajaxGet('/scrapy/getBook',{bookId,bookId},function(error,result){
                if(error){
                    $('#msg').text('Service Error..');
                }

                if(result.success){
                    bookId = result.data.id;

                    var text = content(result.data) + hr_line + buttonFun(bookId);
                    $('#note-list').append(text);
                }
            })
        }

        //get content
        function content(item){
            return   '<div>'+ hr_line + E_DIV(item.title) + hr_line +E_DIV(item.author)+ hr_line +E_DIV(item.content)+'</div>'
        }
        function buttonFun(bookId){
            return '<div style="text-align:center;"><a class="book_button">上一篇</a>'+ '<a  class="book_button">下一篇</a></div>';
        }

    </script>
  </body>
</html>
