body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.book_button{
  border: 2px;
  display: inline-block;
  width: 10%;
  border-color: rgb(0, 0, 0);
  border-style: solid;
  border-radius: 12px;
}
